<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="min-h-screen w-full bg-zinc-900 p-10 text-white">
        <h3><%= filename%></h3>
        <p><%= filedata%></p>
    </div>
  </body>
</html>